@font-face {
  font-family: fontTatto;
  src: url(/fonts/TattooInk-D0gD.ttf);
}

body {
  overflow-x: hidden;
  background-color: black;
}
/* tamaño t´titulo */
.studioTittle {
  font-family: fontTatto;
  font-size: 6rem;
}
/* mostrar título al cargar */
.noMostrar {
  animation: fadeIn 3.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mostrar {
  animation: fadeIn 2.5s;
}
/* fin mostrar título */

/* animación de fotos */
@keyframes anim-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anim-fade-in {
  animation-duration: 0.8s; /* la animacion dura X segundos */
  animation-fill-mode: both; /* aplica estilos de la animacion antes y despues de reproducirla */
}

.anim-fade-in {
  animation-name: anim-fade-in;
}

.anim-pause-2 {
  animation-delay: 0.5s;
}
.anim-pause-3 {
  animation-delay: 1s;
}
.anim-pause-4 {
  animation-delay: 1.5s;
}
.anim-pause-5 {
  animation-delay: 2s;
}
.anim-pause-6 {
  animation-delay: 2.5s;
}
.anim-pause-7 {
  animation-delay: 3s;
}
.anim-pause-8 {
  animation-delay: 3.5s;
}
.anim-pause-9 {
  animation-delay: 4s;
}
.anim-pause-10 {
  animation-delay: 4.5s;
}
.anim-pause-11 {
  animation-delay: 5s;
}
.anim-pause-12 {
  animation-delay: 5.5s;
}
.anim-pause-13 {
  animation-delay: 6s;
}
/* todas las animaciones pausadas */
.paused * {
  animation-play-state: paused;
  opacity: 0%;
}
/* fin animación */

.bannerArtistas {
  height: 190px;
}

/* card */
.card-img-top {
  max-height: 450px;
}

/* parallax */
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.parallax-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  width: 100%;
}

.parallax-item:first-child {
  background: url("./img/studio.jpg");
  background-size: cover;
  background-repeat: initial;
  max-height: fit-content;
  min-height: 90vh;
}

.parallax-item:nth-child(2) {
  min-height: 40vh;
}

.parallax-item:nth-child(3) {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parallax Effect for DIV 3 */
  min-height: 600px;
}

.parallax-item:nth-child(5) {
  background: url("./img/imagenFinal.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parallax Effect for DIV 3 */
  min-height: 300px;
}

/* fin parallax */

.grey-scale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (max-width: 820px) {
  .studioTittle {
    font-size: 4rem;
  }

  .parallax-item:first-child {
    background-size: 100vw 40vh;
    width: 100%;
    /* distancia entre un div y otro */
    min-height: 40vh;
  }

  .parallax-item:nth-child(2) {
    min-height: 20vh;
  }

  .parallax-item:nth-child(5) {
    background-size: 100vw 40vh;
    background-size: cover;

    width: 100%;
    /* distancia entre un div y otro */
    min-height: 25vh;
  }
}

@media screen and (max-width: 480px) {
  .studioTittle {
    font-size: 2rem;
  }

  .card-img-top {
    height: 400px;
  }

  .parallax-item:first-child {
    background: url("./img/studio.jpg");
    background-size: 100vw 30vh;
    background-repeat: initial;
    width: 100%;
    /* distancia entre un div y otro */
    min-height: 30vh;
  }
  .parallax-item:nth-child(2) {
    min-height: 20vh;
  }

  .parallax-item:nth-child(3) {
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 50vh;
  }
  .parallax-item:nth-child(5) {
    background-size: 100vw 30vh;
    background-size: cover;

    /* distancia entre un div y otro */
    min-height: 20vh;
  }
}
