@font-face {
  font-family: fontTatto;
  src: url(/fonts/TattooInk-D0gD.ttf);
}

body {
  overflow-x: hidden;
  background-color: black;
}

.studioTittle {
  font-family: fontTatto;
  font-size: 6rem;
}

.bannerArtistas {
  height: 190px;
}

/* card */
.card-img-top {
  max-height: 450px;
}

/* parallax */
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.parallax-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  width: 100%;
}

.parallax-item:first-child {
  background: url("/img/studio.jpg");
  background-size: cover;
  background-repeat: initial;
  max-height: fit-content;
  min-height: 90vh;
}

.parallax-item:nth-child(2) {
  min-height: 40vh;
}

.parallax-item:nth-child(3) {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parallax Effect for DIV 3 */
  min-height: 600px;
}

.parallax-item:nth-child(5) {
  background: url("/img/imagenFinal.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parallax Effect for DIV 3 */
  min-height: 500px;
}

.grey-scale{-webkit-filter: grayscale(100%); filter: grayscale(100%);}

/* img.blanconegro {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  }
  img.blanconegro:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    } */

@media screen and (max-width: 820px) {
  .studioTittle {
    font-size: 4rem;
  }

  .parallax-item:first-child {
    background-size: 100vw 40vh;
    width: 100%;
    /* distancia entre un div y otro */
    min-height: 40vh;
  }

  .parallax-item:nth-child(2) {
    min-height: 20vh;
  }

  .parallax-item:nth-child(5) {
    background-size: 100vw 40vh;
    background-size: cover;

    width: 100%;
    /* distancia entre un div y otro */
    min-height: 25vh;
  }
}

@media screen and (max-width: 480px) {
  .studioTittle {
    font-size: 2rem;
  }

  .card-img-top {
    height: 400px;
  }

  .parallax-item:first-child {
    background: url("/img/studio.jpg");
    background-size: 100vw 30vh;
    background-repeat: initial;
    width: 100%;
    /* distancia entre un div y otro */
    min-height: 30vh;
  }
  .parallax-item:nth-child(2) {
    min-height: 20vh;
  }

  .parallax-item:nth-child(3) {
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 50vh;
  }
  .parallax-item:nth-child(5) {
    background-size: 100vw 30vh;
    background-size: cover;

    /* distancia entre un div y otro */
    min-height: 20vh;
  }
}
